/* Animasi Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animasi Pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f2f2f2, #333333); /* Mengubah warna latar belakang */
  overflow-x: hidden;
  color: #333; /* Mengubah warna teks utama */
}

/* Container Profil */
.profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

/* Kontainer */
.container {
  width: 30%;
  background: linear-gradient(135deg, #fff 40%, #e0e0e0 60%); /* Mengubah warna latar belakang */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: fadeIn 1s ease forwards;
  overflow-x: hidden;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

/* Judul Profil */
.profile-title {
  text-align: center;
  margin-top: 0;
  color: #ff8f00; /* Mengubah warna judul profil */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: none; /* Matikan animasi pulsasi */
  font-family: 'Open Sans', sans-serif; /* Mengubah font judul profil */
}

/* Gambar Profil */
.profile-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out ,box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ff8f00;
}

.profile-info img:hover {
  animation: rotate 1s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
  transform: scale(1.1);
  border-radius: 10%;
}

/* Info Tambahan */
.info {
  flex: 1;
}

/* Judul Kontak dan Alamat */
h2 {
  margin-bottom: 5px;
  animation: fadeIn 1s ease forwards;
  transition: color 0.3s ease;
  color: #ff8f00; /* Mengubah warna judul kontak dan alamat */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

/* Paragraf */
p {
  margin: 5px 0;
  color: #666; /* Mengubah warna paragraf */
  animation: fadeIn 1s ease forwards;
  transition: color 0.3s ease;
  font-size: 14px;
}

/* Hover Efek pada Kontainer */
.container:hover h2,
.container:hover p,
.container:hover .contact h2,
.container:hover .address h2 {
  color: #ff8f00;
}

/* Garis Horizontal */
hr {
  border: none;
  border-top: 1px solid #ccc; /* Mengubah warna garis horizontal */
  margin: 20px 0;
}

/* Icon Sosial Media */
.social-icons a {
  color: #333;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  opacity: 0.7;
  color: #ff8f00;
  transform: scale(1.2);
}

.social-icons a .fa-facebook-square {
  color: #3b5998;
}

.social-icons a .fa-instagram-square {
  color: #bc2a8d;
}

.social-icons a .fa-tiktok {
  color: #000;
}
