/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Animasi Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animasi Pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Body */
body {
  font-family: 'Poppins', sans-serif; /* Mengatur jenis font untuk seluruh body */
  margin: 0; /* Menghapus margin */
  padding: 0; /* Menghapus padding */
  background: linear-gradient(135deg, #d9d9d9, #333333); /* Mengatur latar belakang dengan gradasi linear */
  overflow-x: hidden; /* Menghilangkan overflow horizontal */
}

/* Container Profil */
.profile-container {
  display: flex; /* Mengatur tampilan menjadi flexbox */
  justify-content: center; /* Mengatur konten untuk dipusatkan secara horizontal */
  flex-wrap: wrap; /* Mengatur agar konten bisa wrap ke baris baru */
  overflow-x: hidden; /* Menghilangkan overflow horizontal */
}

/* Kontainer */
.container {
  width: 30%; /* Lebar kontainer */
  background: linear-gradient(135deg, #fff 40%, #a9a9a9 60%); /* Latar belakang dengan gradasi linear */
  padding: 20px; /* Padding dalam kontainer */
  border-radius: 10px; /* Border radius untuk membuat sudut melengkung */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Bayangan */
  margin: 20px; /* Margin */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transisi saat hovered */
  animation: fadeIn 1s ease forwards; /* Animasi fade in */
  overflow-x: hidden; /* Menghilangkan overflow horizontal */
}

.container:hover {
  transform: scale(1.05); /* Perbesar saat hovered */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* Bayangan saat hovered */
}

/* Judul Profil */
.profile-title {
  text-align: center; /* Posisi teks menjadi di tengah */
  margin-top: 0; /* Margin atas */
  color: #333; /* Warna teks */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Bayangan teks */
  font-weight: 600; /* Ketebalan teks */
  font-size: 20px; /* Ukuran teks */
  text-transform: uppercase; /* Merubah teks menjadi huruf besar */
  letter-spacing: 2px; /* Spasi antar huruf */
  animation: pulse 2s infinite; /* Animasi pulsasi */
}

/* Info Profil */
.profile-info {
  display: flex; /* Mengatur tampilan menjadi flexbox */
  align-items: center; /* Mengatur konten untuk dipusatkan secara vertikal */
}

/* Gambar Profil */
.profile-info img {
  width: 100px; /* Lebar gambar profil */
  height: 100px; /* Tinggi gambar profil */
  border-radius: 50%; /* Mengatur sudut melengkung */
  margin-right: 20px; /* Margin kanan */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transisi saat hovered */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Bayangan */
  border: 1px solid #ff8f00; /* Tepian dengan border */
}

.profile-info img:hover {
  animation: rotate 1s ease-in-out infinite; /* Animasi rotasi saat hovered */
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.5); /* Bayangan saat hovered */
}

/* Info Tambahan */
.info {
  flex: 1; /* Memperluas flex item sejauh mungkin */
}

.contact,
.address {
  margin-top: 20px; /* Margin atas */
}

/* Judul Kontak dan Alamat */
h2 {
  margin-bottom: 5px; /* Margin bawah */
  animation: fadeIn 1s ease forwards; /* Animasi fade in */
  transition: color 0.3s ease; /* Transisi warna */
  color: #333333; /* Warna teks */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Bayangan teks */
  text-transform: uppercase; /* Merubah teks menjadi huruf besar */
  letter-spacing: 2px; /* Spasi antar huruf */
  font-size: 16px; /* Ukuran teks */
}

/* Paragraf */
p {
  margin: 5px 0; /* Margin */
  color: #555; /* Warna teks */
  animation: fadeIn 1s ease forwards; /* Animasi fade in */
  transition: color 0.3s ease; /* Transisi warna */
  font-size: 14px; /* Ukuran teks */
}

.contact h2,
.address h2 {
  color: #333333; /* Warna teks */
  animation: fadeIn 1s ease forwards; /* Animasi fade in */
  transition: color 0.3s ease; /* Transisi warna */
}

/* Hover Efek pada Kontainer */
.container:hover h2,
.container:hover p,
.container:hover .contact h2,
.container:hover .address h2 {
  color: #ff8f00; /* Warna saat hovered */
}

/* Garis Horizontal */
hr {
  border: none; /* Tanpa border */
  border-top: 1px solid #ddd; /* Border atas */
  margin: 20px 0; /* Margin atas dan bawah */
}

/* Icon Sosial Media */
.social-icons {
  display: flex; /* Mengatur tampilan menjadi flexbox */
  justify-content: center; /* Mengatur konten untuk dipusatkan secara horizontal */
  margin-top: 5px; /* Margin atas */
}

.social-icons a {
  color: #333; /* Warna ikon */
  font-size: 20px; /* Ukuran ikon */
  margin: 0 10px; /* Margin */
  transition: color 0.3s ease,
}

.social-icons a:hover .fa-tiktok {
  color: #69c9d0; /* Ganti warna ikon TikTok saat di-hover */
}
.social-icons a {
  color: #333; /* Warna default ikon */
  font-size: 24px; /* Ukuran ikon */
  margin: 0 10px; /* Jarak antar ikon */
}

.social-icons a .fa-facebook-square {
  color: #3b5998; /* Warna khas Facebook */
}

.social-icons a .fa-instagram-square {
  color: #bc2a8d; /* Warna asli Instagram */
}


.social-icons a:hover {
  opacity: 0.7; /* Opacity saat di-hover */
  color: #ff8f00;
}
.social-icons a .fa-tiktok {
  color: #000; /* Ganti warna ikon TikTok */
}
/* Media query untuk layar berukuran kecil (misalnya ponsel) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .profile-info img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
}

/* Media query untuk layar berukuran sedang (misalnya tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
}

/* Media query untuk layar berukuran besar (misalnya desktop) */
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
}
